*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common css start */
body{
    font-family: 'Ubuntu', sans-serif;

    font-family: 'Abril Fatface', cursive;

    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* common css end */